.visa-hero{
    overflow: hidden;

        .slider{
            width:100%;
            height: 550px;
            position:relative;

            @include breakpoints(medium){
               height:280px;
            }

            .sliding-img{
                position:absolute;
                transition:transform 2s ease-in;
                animation:sliderZoomEffect 12s ease infinite;

                &:first-child{
                    z-index: 1;
                }
                &:nth-child(2){
                    z-index: 0;
                } 

                @include breakpoints(medium){
                    object-fit: contain;
                    max-width:100%;
                    max-height:300px;
                    width:auto;
                    height:auto;
                }
                
            }
    
            p{
                width:47.125rem;
                position:absolute;
                margin:203px 0 0 60px;
                font-weight:700;
                font-size:2.5rem;
                line-height:4.5rem;
                background-color: transparent;
                color:#fff;
                z-index: 9;

                @include breakpoints(medium){
                    width:37.7rem;
                    margin:5.15rem 0 0 2rem;
                    font-weight:600;
                    font-size:2rem;
                    line-height: 3.6rem;
                }

           }

        
        }


}

.tourist-visa{
  
    .wrapper{
        //border:1px solid green;
        @include breakpoints(2Large){
            padding:0;
        }

        @include breakpoints(Xlarge){
            padding-right:0;
            padding-left:0;
        }
        @include breakpoints(medium){
            //border:2px solid black;
        }

        .wrapper-content{
            //padding: 0 1.875rem 0 1.875rem;
            //border:1px solid red;

            @include breakpoints(Xlarge){
                padding-right:0;
                padding-left:0;
            }

            .left{
    
                .dropdown{
                    margin-top:9.625rem;
                
                    &__curve{
                        border-radius:10px 10px 0 0;
                    }
    
                    .dropdown-menu{
                        width:12.475rem;
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        padding:15px 10px 15px 10px;
                        color:#1367A3;
                        background:linear-gradient(0deg, rgba(213, 232, 242, 0.5), rgba(213, 232, 242, 0.5));
                        border-bottom:1px solid #fff;
    
                        span{
                            width:9.4375rem;
                            display:inline-block;
                            font-weight:300;
                            font-size:0.875rem;
                        }
    
                        img{
                            width:14px;
                            height:14px;
                        }
                    }
                    .activate{
                        background-color:#23B9E3;
                        span{
                            color:#fff;
                        }
                    }
                }
            }
    
            .right{
                margin-left:3.625rem;
                //border:1px solid black;
    
                @include breakpoints(Xlarge){
                    margin-left:2.9rem;
                }
    
                @include breakpoints(medium){
                    margin-left:1.45rem;
                }
    
                h2{
                    margin:3.125rem 0 0 16.75rem;
                    font-weight:500;
                    font-size: 1.875rem;
                    line-height:3.375rem;

                    @include breakpoints(large){
                        margin:2.5rem 0 0 13.4rem;
                        font-size: 1.5rem;
                        line-height: 2.7rem;
                    }
                    @include breakpoints(medium){
                        margin-left:10.72rem;
                    }
                }
                .right-content{
                    margin-top:3.125rem;
                    padding-bottom:6.25rem;

                    @include breakpoints(large){
                        margin-top:2.5rem;
                        padding-bottom:5rem;
                    }
    
                    p{
                       max-width:63.25rem;
                       margin-top:4.625rem;
                       margin-bottom: 0;
                       font-weight:400;
                       font-size:1rem;
                       line-height:2.25rem;

                       @include breakpoints(Xlarge){
                        margin-top:3.7rem;
                       }
                       @include breakpoints(large){
                        margin-top:2.96rem;
                       }
                       @include breakpoints(medium){
                        font-weight:300;
                        line-height:1.8rem;
                       }
                    }
    
                    .right-content-img{
                        width:59.375rem;
                        height:43.75rem;
                        margin-top:3.125rem;
                        text-align:center;
                        border-radius: 10px;

                        @include breakpoints(Xlarge){
                            width:47.5rem;
                            height:35rem;

                        }
                        @include breakpoints(large){
                            width:32.0625rem;
                            height:26.25rem;

                        }
    
                        @include breakpoints(medium){
                            width:25.65rem;
                        }
                        .right-content-overlap{
                            @include breakpoints(large){
                                padding-top:25%;
                            }
    
                            h3{
                                margin-bottom:0;
                                font-weight:700;
                                font-size:1.5rem;
                                line-height:3rem;
                                color:#fff;
                            }
    
                            p{
                                margin-top:0;
                                font-weight:500;
                                font-size:0.9375rem;
                                line-height:2.10625rem;
                                color:#fff;
                            }
                            form{
                                margin:1.125rem 11rem 6.25rem;
                                padding:3.125rem 2.5rem  2.125rem;
                                border-radius:25px;
                                background-color: #fff;

                                @include breakpoints(Xlarge){
                                    margin-top:1rem;
                                    margin-left:8.8rem;
                                    margin-right:8.8rem;
                                    padding-left:2rem;
                                    padding-right:2rem;
                                    padding-bottom: 2rem;
                                }

                                @include breakpoints(large){
                                    display: none;
                                }
                                
                                .form-container{
                                    input, textarea{
                                        width:500px;
                                        height:60px;
                                        border:0.5px solid #94a3b1;
                                        border-radius: 5px;
                                        margin-top:25px;
                                        outline:none;
                                        color:#94a3b1;

                                        @include breakpoints(Xlarge){
                                            width:400px;
                                            height:48px;
                                            margin-top:10px;
                                        }
                                    }
    
                                    textarea{
                                        height:100px;
                                        @include breakpoints(Xlarge){
                                            height:96px;
                                        }
                                    }

                                }

                                .btn-submit{
                                    width:350px;
                                    margin-top:40px;
                                    @include breakpoints(Xlarge){
                                        margin-top:10px;
                                    }
                                }
                                
                            }
                        }
                    }
    
                    .benefits{
                        margin-top:6.25rem;
                        margin-left:6.25rem;
                        margin-bottom:0;
                        padding-top:4.6875rem;

                        @include breakpoints(Xlarge){
                            padding-top:1rem;
                        }
                        @include breakpoints(large){
                            margin-left:1.25rem;
                            padding-top:0.78125rem;
                        }
    
                        h4{
                            width:17.375rem;
                            font-weight:700;
                            font-size:1.5rem;
                            line-height:3rem;
                            color:#fff;

                            @include breakpoints(large){
                                width:13.9rem;;
                                font-size: 1.2rem;
                                line-height: 0;
                            }
                        }
    
                        .clip{
                            width:33.4375rem;
                            margin-top:0;
                            margin-bottom:2.1875rem;
                            text-align:left;

                            @include breakpoints(Xlarge){
                                margin-bottom: 1.75rem;
                            }
                            @include breakpoints(large){
                                margin-bottom:1.4rem;
                            }
    
                            &:hover{
                                border: 1px solid #23B9E3;
                            }
    
                            img{
                                width:20px;
                                height:20px;
                            }
    
                            span{
                                width:500px;
                                font-size:1rem;
                                margin-left:15px;
                                color:#fff;

                                @include breakpoints(large){
                                    width:450px;
                                    font-size:0.875rem;
                                    margin-left:0.75rem;
                                }
                                @include breakpoints(medium){
                                    width:350px;
                                    font-size:0.765rem;
    
                                }
                            }
                        }
                    }
    
                    .Eu-countries{
                        width:22.375rem;
                        margin:6.25rem 0 0 3.125rem;
                        padding-bottom:11.25rem;
                        text-align:left;
                        font-weight:600;
                        font-size:3.125rem;
                        line-height:5.265rem;
    
                        span{
                            color:#fff;
                        }
                    }
                    .italy, .spain{
    
                        h4{
                            font-weight:600;
                            font-size:1.875rem;
                        }
                    }
    
                    .read-btn{
                        width:9.375rem;
                        text-align:center;
                        display:inline-block;
                        margin-top:3.125rem;
                        padding: 13px 25px 13px 25px;
                        font-weight:600;
                        font-size:0.9375rem;
                        color:#fff;
                        background-color:#23b9e3;
                        border-radius: 26px;
    
                    }
                }
    
            }
        }

    }
}
